.tooltip-wrapper {
  --background-color: rgba(255, 255, 255, 0.8);
  --text-color: #{$primary-blue};

  .light {
    --background-color: rgba(255, 255, 255, 0.8);
    --text-color: #{$primary-blue};
  }

  .dark {
    --background-color: rgba(9, 9, 33, 0.85);
    --text-color: #{$primary-white};
  }

  @media (max-width: $mobile-breakpoint) {
    --background-color: rgba(9, 9, 33, 0.85);
    --text-color: #{$primary-white};
  }

  .tooltip {
    font-family: $p-font;
    font-size: $p-size;
    background-color: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    padding: 1rem;
    z-index: 2;
    max-width: 50ch;
    width: fit-content;
    border-radius: 0;
    color: var(--text-color);

    @media (max-width: $mobile-breakpoint) {
      max-width: 100%;
      margin-inline: 1rem;
    }
  }

  .react-tooltip-arrow {
    $arrow-size: 6px;
    transform: rotate(0deg) !important;
    width: 0;
    height: 0;
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-bottom: calc($arrow-size * 2) solid var(--background-color);
    background-color: transparent;
  }

  .bottom {
    .react-tooltip-arrow {
      transform: translateY(-8px) !important;
    }
  }

  .top,
  .top-start {
    .react-tooltip-arrow {
      transform: translateY(8px) rotate(180deg) !important;
    }
  }
}
