footer {
  color: $primary-orange;
  padding: $mobile-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      font-size: $footer-font-size;
    }

    flex-wrap: wrap;

    svg {
      height: $footer-font-size;
    }

    #heart {
      margin-inline-start: calc($footer-font-size / 2);
      margin-inline-end: calc($footer-font-size / 3);
    }
  }
  a {
    font-size: $footer-font-size;
  }

  @media (min-width: $mobile-breakpoint) {
    display: none;
  }
}
