.asteroid-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: start;
  pointer-events: none;
  z-index: 1;

  @keyframes Float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .asteroid {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;

    .float {
      animation: Float 5s infinite;
    }

    &:hover {
      cursor: $cursor-pointer;
    }
  }

  .fragment {
    position: absolute;
    top: 0;
    left: 0;
  }

  .asteroid-signifier {
    position: absolute;
    top: -26px;
    left: -15px;
    width: 5rem;
  }
}
