.asteroid-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: start;
  pointer-events: none;

  .asteroid {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;

    &:hover {
      cursor: $cursor-pointer;
    }
  }

  .fragment {
    position: absolute;
    top: 0;
    left: 0;
  }

  .asteroid-signifier {
    position: absolute;
    top: -26px;
    left: -15px;
    width: 5rem;
  }
}
