$heading-color: #ff671e;
$text-color: white;

@font-face {
  font-family: 'Neue Plak';
  src: url('../../assets/fonts/Neue-Plak-Extended-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ridge Bold';
  src: url('../../assets/fonts/ridge-bold-oblique.otf') format('opentype');
}

@font-face {
  font-family: 'NB International';
  src: url('../../assets/fonts/NB-International-Regular.ttf') format('truetype');
}

.home {
  display: grid;
  align-items: center;
  margin: 0;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;

    .home-info p {
      display: none;
    }

    font-size: 77.5%;
  }

  .landing-container {
    margin-top: 15rem;

    h3 {
      margin-bottom: 1.5%;
    }
  }

  .home-info {
    margin-bottom: 4rem;
    max-width: 70ch;

    .desktop-view {
      display: grid;
      gap: 1rem;

      @media screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    .mobile-h3-container {
      display: none;

      @media screen and (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  /* LOGO STYLING */

  .logo-container {
    position: fixed;
    margin: -11.5rem 0 1rem;

    @media screen and (max-width: $tablet-breakpoint) {
      position: relative;
      width: 75%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }

    .fake-logo {
      opacity: 0;
      @media screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    .mobile-logo {
      display: none;

      @media screen and (max-width: $mobile-breakpoint) {
        display: block;
        margin: 0 auto 1rem;
        position: relative;
      }
    }
  }

  /* REGISTER BUTTON */
  .register-button {
    opacity: 0;
    .button {
      background: $primary-orange;
      display: inline-block;
      font-size: 1.5em;
      padding: 0.5em 1.2em;
      text-decoration: none;
      color: $primary-white;
      letter-spacing: 2.4px;
    }

    .parallelogram {
      transform: skew(-15deg);
    }

    .skew-fix {
      display: inline-block;
      transform: skew(15deg);
    }

    @media screen and (max-width: $mobile-breakpoint) {
      display: block;
      margin: 0 auto 2rem;
      width: 100%;
    }
  }
}
