// Mobile Styling
.scroll-cont {
  height: 100vh;
  .scroll-section-one,
  .scroll-section-two,
  .scroll-section-three,
  .scroll-section-four {
    height: 100dvh;
    @media (max-width: $mobile-breakpoint) {
      padding: 0;
    }
  }
}

//Desktop Styling
@media screen and (min-width: $tablet-breakpoint) {
  .scroll-cont {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    //Card Stylings
    .scroll-section-one,
    .scroll-section-two,
    .scroll-section-three,
    .scroll-section-four {
      top: 50%;
      scroll-snap-align: start;
      height: 100dvh;
      padding-left: $content-offset;
      padding-right: calc($navbar-margin + $navbar-width + 3rem);
      @media (max-width: $tablet-breakpoint) {
        padding-right: 3rem;
      }

      @media (max-width: $mobile-breakpoint) {
        padding: 0;
      }
    }

    .two,
    .three,
    .four {
      opacity: 1;
      height: 100dvh;
      border: 1px solid red;
      transform: rotate(80deg);
      transform-origin: '16% 74%';
      //transform: translate(-400px, 0px) rotate(80deg);
    }
  }
}
