nav {
  border: 1px solid red;
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  right: $navbar-margin;
  pointer-events: none;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  .desktop-nav {
    list-style-type: none;
    padding-left: 0;
    display: block;
    position: absolute;
    right: 0;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    li div {
      height: 44px;
      width: 44px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        transition: all 0.3s ease;
      }
      .active {
        transform: scale(1.2);
      }
    }

    li {
      .divider {
        padding: 4px 0 4px 0;
      }
    }
  }

  .mobile-nav {
    pointer-events: auto;
    display: none;
  }

  .hamburger-planet {
    pointer-events: auto;
    display: none;
  }

  ul {
    display: none;
    pointer-events: auto;
  }
}

@media (max-width: $tablet-breakpoint) {
  nav {
    right: 0;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-between;

    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
      top: 0;
      margin-top: 2rem;
      margin-inline: 1rem;
    }

    .dco-logo {
      z-index: 1;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-color: $primary-blue;
      width: 100%;
      padding-top: 6rem;
      list-style: none;
      position: fixed;
      transform: translateX(100%);
      visibility: hidden;

      &.panel-open {
        transform: translateX(0%);
        transition: 0.3s ease-out;
        visibility: visible;
      }

      &.panel-close {
        transform: translateX(-100%);
        visibility: visible;
        transition: 0.3s ease-out;
      }

      .hamburger-planet {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      li {
        width: 100%;
        button {
          text-decoration: none;
          background-color: transparent;
          border: none;
          display: block;
          width: 100%;
          text-align: left;
          color: $primary-white;
          padding-inline: 5rem;
          padding-block: 2rem;
          font-size: 1.5rem;
          font-family: $header-font;

          &:focus {
            outline-color: white;
          }
        }

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          background-image: linear-gradient(
            to right,
            white 33%,
            rgba(255, 255, 255, 0) 0%
          );
          background-position: top;
          background-size: 11px 1px;
          background-repeat: repeat-x;
        }

        &:last-child:after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          background-image: linear-gradient(
            to right,
            white 33%,
            rgba(255, 255, 255, 0) 0%
          );
          background-position: top;
          background-size: 11px 1px;
          background-repeat: repeat-x;
        }
      }
    }
  }
}
